# clase 1

esta clase es para aprendr las bases python

In [1]:
A = 40
B = 10
# Comparacion 
if(A>B):
    print("Es mayor " , A)
else:
    print("Es mayor " , B)

Es mayor  40

In [9]:
# tipos de variables
A = "carlos"
carlos = 12
stra = 1.79
deporte = False

In [10]:
type(A)

str

In [11]:
type(carlos)

int

In [12]:
type(stra)

float

In [13]:
type(deporte)

bool

# CLASE 2

In [ ]:
B = (2,3,7) #inmutable no cambian (tupla)
D = ["juan","carlos"] #Es modificable (lista)
E = { "klk" : 7 } #Diccionario

# ALMACENAMIENTO DE MULTIPLES VALORES

In [17]:
print("la variable es: ", type(12))
print("la variable es: ", type("arroz"))
print("la variable es: ", type(12.3))
print("la variable es: ", type(True))

la variable es:  <class 'int'>
la variable es:  <class 'str'>
la variable es:  <class 'float'>
la variable es:  <class 'bool'>

# variables que almacenan multiples datos

In [20]:
# creacion de una tupla
No_modificable = (1,2,3,4)
#mostrar el tipo de la variable
print("La variable es de tipo: ", type(No_modificable))

La variable es de tipo:  <class 'tuple'>

In [ ]:
# creacion de una lista
ld= ["Valentina","laura","danna", "isabella"]
# mostrar el tipo de variable
print("la variable es tipo:", type(ld))

la variable es tipo: <class 'list'>

In [25]:
# creacion de un diccionario
dic = { "juan" : 1,
        "andres" : 3.0,
       "ivan" : 2.4, 
       "danna" : 4,
       "valen" : 5,
       "gabi" : 6,
       "yo" : 7,
       "Camila" : 123
       }
print("la variable es de tipo: ",type(dic) , "contiene lo siguiente: ", (dic))

la variable es de tipo:  <class 'dict'> contiene lo siguiente:  {'juan': 1, 'andres': 3.0, 'ivan': 2.4, 'danna': 4, 'valen': 5, 'gabi': 6, 'yo': 7, 'Camila': 123}

In [28]:
# importando libreria 
import pandas as pd 
datos = {
    "nombre" : ["juan", "maria", "luis"],
    "Edades" : [20,30,40],
    "cuidades" : ["Madrid", "Barcelona", "Valencia"],
}
dataset = pd.DataFrame(datos)
print("la variable es de tipo: ", type(dataset))

ModuleNotFoundError: No module named 'pandas'